{% extends "layout.html" %}
{% block content %}


  <style>
          {

            font-family: 'Montserrat', sans-serif;

          }
  </style>

  </h1>
  <br>
  <style>
      p {
          color: black;

         }
  </style>

<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Barachou</h1>

        <!-- Author -->
        <p class="nyc">
          by
        <a href="#">Ana Karina</a>

        </p>


        <hr>

        <!-- Date/Time -->
          <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/static/desserts/choux1.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">
          Choux are pastries that were invented in 1540 supposedly by a head chef to Catherine de Medici after having left Florence. It was first named pâte a patanelli then
          pâte a popelin because it reassembled the shape of a women's breast and finally a chef by the name of Avice called it pâte a choux because
          they looked like little cabagges.

        </p>

        <p> I was living in the Upper West Side at the beginning of this year before most of us were really aware of COVID19. I didn't really know
          the Upper West Side very well so decided to start with it. On my walk back home from the gym it's when i'd be very hungry
          so why not just go straight to the dessert part!
          I stumbled upon this french pastry shop located on Amsterdam Avenue Between 81st &, W 82nd St. I LOOOOVE choux
          and it's actually one of my favorite desserts to bake and to eat which is not always the case for me
          most desserts fall in the latter category.




        </p>


        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/static/desserts/dnyc/barachoux.jpg" alt="">

        <hr>

<p> What makes a choux delicious?</p>
        <ul>
          <li>Moist in the inside</li>
          <li>Crunchy in the outside</li>
          <li>A craquelin which is the sugary crunchy top it's always a plus or an almond
          paste topping</li>
          <li>Finally, a creamy filling with authentic ingredients
          and flavor of your choice</li>
        </ul>


        <p>Barachou definitely met most of my expectations at least with the four flavors that I tried.
        I tried the pistachio, chocolate hazelnut, raspberry lychee and dulce de leche.</p>
        <p> I first tried the Dulce the Leche one. As a mexican all things related to 'burned milk'  it's something I grew up eating..
          Except in Mexico we use cajeta which is pretty similar. It was almost perfect except for the filling , it had dulce the leche on the outside but vanilla cream/whipped cream in the inside
          which was delicious just would have preferred a creamy dulce the leche filling.
        </p>
        <hr>
        <p class="lead"> Chocolate Hazelnut</p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/hazelnut.jpg" alt="">
        <hr>
        </p>
        <p>Flavor and texture of both the filling and the shell were delicious even if was covered with the chocolate and hazelnut pieces.
          I loved the crunchiness that the pieces of the chocolate with pieces of hazelnut added and the cream was sublime. I could definitely tell that good quality chocolate was used
          for this filling. If I were to give it a grade I would give it a 9.
        </p>

         <hr>
        <p class="lead">Passion Fruit </p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/passionfruit.jpg" alt="">
        <hr>
        </p>
        <p> Passion Fruit and was perfect both the topping cream and the creamy filling. Again, the texture was exceptional!
            I would definitely get this one again.
        </p>
         <hr>
          <p class="lead">Pistachio </p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/pistachio.jpg" alt="">
        <hr>
        </p>
        <p> Last but not least Pistachio. I am not sure what it is about this wonderful seed/nut but I absolutely love pistachio
            everything and I am always looking for real pistachio flavoring as I hate extracts, no offense but Yogurland's pistachio
            frozen yogurt is not very authentic. So, this choux is a little more simple than the other ones. The pistachio choux has and
            a thin almond past circled sheet/topping as opposed to having a cream or being covered in chocolate or other flavor which I do appreciate
            since it allows you to really taste the velvety nutty flavor of pistachio. Once again barachoux did not dissapoint and made
            this girl very happy!

        </p>
           <hr>


          <p class="lead">Veredict </p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/mechoux.jpg" alt="">
        <hr>
        </p>
        <p> All in all I would definitely recommend going to Barachoux to get the chocolate hazelnut and the passion fruit choux for sure!
            and if you're into pistachio as well or want to be more adventurous I would recommend you getting that one as well!
            Also, the staff is very friendly which only makes the experience a lot more enjoyable!
        </p>
        <hr>

      </div>
    </div>
  </div>


<br>
<br>
<br>


<style>
          {

            font-family: 'Montserrat', sans-serif;

          }
  </style>

  </h1>
  <br>
  <style>
      p {
          color: black;

         }
  </style>

<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Dominique Ansel</h1>

        <!-- Author -->
        <p class="nyc">
          by
        <a href="#">Ana Karina</a>

        </p>


        <hr>

        <!-- Date/Time -->
          <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/static/desserts/dnyc/domans.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">
          Dominique Ansel is the very one Pastry Chef who invented "The Cronut" and currently has a shop in Soho. Previous to opening his
            own shop he worked at Daniel a two Michelin star. Naturally, I had very high expectations going to his shop in Soho.
            There is always a long queue, or at least there was before the pandemic. I went on February of 2020 and it was a Saturday around 1
            pm. I did not see a long line plus needed to carb load before my race the following day in Brooklyn so it was the
            perfect excuse to treat myself!

        </p>

        <p>  while I was in line I was thinking on what to order and also made a friend! We ended up getting the "Gingerbread Pinecone" and
            the "Liquid Praline Hazelnut Tart"
        </p>

          <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/static/desserts/dnyc/seasonal.jpg" alt="">

        <hr>

<p> Here is what I am looking for when eating a pastry</p>
        <ul>
          <li>Excellent combination of flavors</li>
          <li>Different textures</li>
          <li>Freshness</li>
          <li>Beautiful Aesthetics</li>
        </ul>


        <p>
        </p></p>
        <p>

        </p>
        <hr>
        <p class="lead"> Gingerbread Pinecone</p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/gingerpinecone.jpg" alt="">
        <hr>
        </p>
        <p> The Gingerbread Pinecone is a seasonal dessert made with a ginger mousse, speculoos ganache, spice cake and filled with
            small chocolate petals. As soon as I saw and took a bite I knew it was beautiful and fresh. While
            the cake and mousse were excellent I could not really find the speculoos flavor in it. I also thought it would have been
            a great combination since speculoos it's sort of a spiced cookie made with cinammon. Perhaps the flavors where somewhat
            similar and while the textures where excellent I am not sure I can say the same about the combination of flavors.
            I was expecting something more memorable to my pallate. Something that tasted as good as it looked.

        </p>

          <hr>
          <p class="lead">Liquid Praline Hazelnut Tart </p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/liquidtart.jpg" alt="">
        <hr>
        </p>
        <p> The Liquid Praline Hazelnut Tart is made with a hazelnut daquoise cake set with a chocolate sable tart shell, with creamy caramel
            cremeux and a liquid hazelnut praline center. Okay I think that says it all. It was delicious, liked it a lot better than
            the "Gingerbread Pinecone" 'Por Mucho'. The elaboration of each 'apareil' was phenomenal, and by that I mean that each of them were
            elaborated in the right flavor. For example, the hazelnut daquoise added a slight crunchiness paired with the sable which could no have been
            planned better using a chocolate flavor for it. All together with the caramel cremeux and praline center caused a very
            joyful explosion of flavors.

        </p>
           <hr>


          <p class="lead"> Is it worth the hype and the wait? </p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/boxansel.jpg" alt="">
        <hr>
        </p>
        <p>I still have to try many more desserts chez Dominique Ansel. I am aware he is famous for the cronut and his cookie shot
            but I am just not a fan of cronuts. Nonetheless, I will get back to you once I try it out. In conclusion I would like to say it's not
            worth the hype if you have to wait for a while. Totally worth going if you either pre-order or the line is not
            long. I would recommend you to get the Liquid Praline Hazelnut Tart as it does meet all of my expectations. I would not recommend the Gingerbread Pinecone
            so much. But if you have tried any of them I would love to know your thoughts about these two desserts.
        </p>
        <hr>

      </div>
    </div>
  </div>


<style>
          {

            font-family: 'Montserrat', sans-serif;

          }
  </style>

  </h1>
  <br>
  <style>
      p {
          color: black;

         }
  </style>

<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">The Hungarian Pastry Shop
</h1>

        <!-- Author -->
        <p class="nyc">
          by
        <a href="#">Ana Karina</a>

        </p>


        <hr>

        <!-- Date/Time -->
          <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/static/desserts/dnyc/thps.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">
          The Hungarian Pastry Shop located  in West Harlem might be your perfect excuse
            to delight your palate, be a little bit more adventurous and explore the area
            with a beautiful cathedral just across the street and next door to a very famous pizzeria.
        </p>

        <p>


        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/static/desserts/dnyc/almondcookie.jpg" alt="">

        <hr>

<p> Why should you visit The Hungarian Pastry Shop?</p>
        <ul>
          <li>Great Ambiance</li>
          <li>Unique pastries as well more conventional ones</li>
          <li>To expand your horizons :) </li>
        </ul>


        <p>THPS might be a great spot for you to come sit down and read a book while having a drink
            and eating delicious pastry or come with friends and have a relaxed afternoon. It also seems to be a great place
            to be inspired and write as many writers like to visit the Hungarian Pastry Shop which is not surprising to me as
            it's not as hectic a midtown or downtown.
        </p></p>
        <p>
        </p>
        <hr>
        <p class="lead"> Poppyseed Strudel </p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/beiglinot.jpg" alt="">
        <hr>
        </p>
        <p>
            My thoughts about the Strudel: The poppyseed filling was sweet and not creamy but if you could imagine a cream with
            poppyseeds and a bit of honey that is basically what it is. The Philo dough/"pate feuillete" added the perfect balance to
            the strudel so it would not be overly sweet. Attention! IT IS SWEET! I would recommend getting a few other pastries and share them
            if you are with someone else or eat it paired with tea. They also have cheesecakes, cakes, almond cookies and all sorts of cookies
            and viennoiseries.
        </p>
          <hr>


          <p class="lead">Should you go to the Hungarian Pastry Shop? </p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/strudel.jpg" alt="">
        <hr>
        </p>
        <p>  YES! and YES!! It has got it all, scrumptious pastries like the Poppyseed Streusel among many other desserts
            that will no disappoint found in a unique place in West Harlem. But, do not trust me! You'll have to go and judge for yourself!

        </p>
        <hr>

      </div>
    </div>
  </div>




{% endblock content %}