{% extends "layout.html" %}
{% block content %}





  <style>
          {

            font-family: 'Montserrat', sans-serif;

          }
  </style>

  </h1>
  <br>
  <style>
      p {
          color: black;

         }
  </style>

<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Le Jardin Sucré</h1>

        <!-- Author -->
        <p class="nyc">
          by
        <a href="#">Ana Karina</a>

        </p>


        <hr>
        <hr>

        <!-- Date/Time -->

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/static/desserts/dnyc/mainpage.png" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">
            Mélanie L'héritier et Arnaud Mathez are the geniuses behind the beautiful and delicious pastries
            at Le Jardin Sucré and the winners of The Best Macaroons on 2014 in Paris. They started with a boutique in
            Valle la Chevreuse where they are originally from and opened a second shop in the 17th Arrondissement
            in Paris due to their success.

        </p>

        <p> I was living in the 17th Arrondissement for the first time, I was a little skeptical about it since I had lived on the
            6th and 7th. Either by the Eiffel Tour or with a window view of the Seine and Pont Neuf and of course plenty of sweets nearby. Little did I know
          the 17th had its own gems such as this one.

        <hr>

        <p class="lead"> Tarte Pistache-Fleur d'Oranger </p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/tartepistache.jpg" alt="">
        <hr>
        </p>
          <p> What makes this Pistachio Tart so delicious?</p>
        <ul>
          <li>Pate Sucrée(sweet, crumbly buttery crust)</li>
          <li>Pistachio Ganache</li>
          <li>A Melted Pistachio Heart </li>
          <li>An Orange Blossom Mousse</li>
          <li>Roasted Pistachios</li>
        </ul>
        <p>The french know their pastries, and Jardin Sucre is not the exception. Every single bite that I had was
            so full of flavor. I could taste de pistachio and the orange blossom. The combination of flavors was truly exceptional.
            I could compare them to Cedric Grolet's pasties who is the Master of Masters in the Pastry area. The melted pistachio sauce in
            the interior mixed with
            the cream was like.....
        </p>

         <hr>
          <p class="lead"> Would I go to Jardin Sucre again? </p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/pistache2.jpg" alt="">
        <hr>
        </p>
        <p> Most definitely! Pastry Chef's are stepping it up. It's not enough to just have  the basic pastries but to
            innovate with different flavors and textures. The pistachio tart was so good that I could compare it to Cedric Grolet's creations.
            Not only do they create beautiful and elegant pastries but also out-of-this-world flavors. Hence my opinion of Dominique Ansel's pastries. He does
            a wonderful job but in my own humble opinion not quite there.
            I also appreciate the beauty in simpleness of Le Jardin Sucre. If you go to Paris anytime soon make sure you visit the Sugary Garden.
            I can not wait to be back and try more pastries!


        </p>
        <hr>

      </div>
    </div>
  </div>


<br>
<br>

<style>
          {

            font-family: 'Montserrat', sans-serif;

          }
  </style>

  </h1>
  <br>
  <style>
      p {
          color: black;

         }
  </style>

<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">La Patisserie Viennoise</h1>

        <!-- Author -->
        <p class="nyc">
          by
        <a href="#">Ana Karina</a>

        </p>


        <hr>
        <hr>

        <!-- Date/Time -->

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/static/desserts/dnyc/lapatisserievien.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">


        </p>

        <p> La Pâtisserie Viennoise is very well situated in the 6th Arrondisement, next to the Paris
          Medical School, near Place Saint-Michel and obviously the Seine. This little pastry shop has really
          been there for years and it will be no surprise to you once you visit it. You can find vienniese desserts as well
          as the classic french ones.

        <hr>

        <p class="lead"> Beigli or Poppyseed Roll </p>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/beigli2.jpg" alt="">
        <hr>
        </p>
           <p> Why should you visit this Viennese Pastry Shop?</p>
        <ul>
          <li>As I mentioned earlier is very well located, you could go on a walk and then stop by or take it to have a little
          picnic along the Seine</li>
          <li>I am not sure if it is open, but if it is you should take advantage
          and come with a friend and also try a delicious hot chocolate and enjoy the unpretentious ambiance</li>
          <li>It's one if not the best vienniese pastry shop in Paris and hard to find unless you are in Eastern Europe </li>
          <li>THE PRICE! it's about 3.50 for a piece of tart and it is not minisculous like they tend to be in Paris for that price,</li>
          <li>And of course, to try the Beigli! </li>
        </ul>
        <p> This is the pastry that I was taking about in the post under The Hungarian Pastry Shop. This is exactly what I was
            looking for. The beigli is a sort of a sweet dough with a poppyseed filling. I am not sure how to describe the flavor.
            But to me was perfect. Not too sweet, not to doughy. Just perfect proportions and flavors and also very new to me.
        </p>
        <hr>
          <img class="img-fluid rounded" src="/static/desserts/dnyc/beigli1.jpg" alt="">
        <hr>

        <p> Hope you visit this wonderful pastry shop when in Paris!</p>
        <hr>

      </div>
    </div>
  </div>


<br>
<br>






{% endblock content %}